target/
src-gen/
!bundles/core/org.eclipse.smarthome.core.location/src-gen/
xtend-gen/
bin/
.antlr*
.metadata/
*/plugin.xml_gen
.DS_Store
build.sh

distribution/smarthome/logs/*.log
distribution/smarthome/*.zip
