<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>




null
null
null
null
null
null
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated location -->
      <package
            uri="http://location/1.0"
            class="org.eclipse.smarthome.core.location.LocationPackage"
            genModel="model/location.genmodel"/>
   </extension>

</plugin>
